{% extends "maestra/maestra.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title card-text mb-4">Aquí tenemos que poner la pagina de inicio de logistica</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% set titulo2 = "Inicio" %}